body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#dati {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.evento {
    display: flex;
    align-items: center;
    color: white;
    font-size: large;
    width: 100%;
    margin-bottom: 20px;
}

.immagine {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
}

.immagine:hover {
    transition: 1s;
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(180deg);
}

.riga-bianca {
    border-top: 1px solid white;
    margin: 10px 0;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
}

.tag {
    display: inline-block;
    background-color: black;
    padding: 5px;
    color: white;
    margin-right: 10px;
}

.tag:hover {
    background-color: white;
    color: black;
}

.nome, .data, .orario {
    font-size: large;
    margin: 0;
    padding: 0;
    color: white;
}

.orario-corrente {
    margin-left: auto;
    animation: blink 1s linear infinite;
    color: red;
    font-size: large;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 768px) {
    .evento {
        font-size: small;
    }
}

@media (min-width: 769px) {
    .evento {
        font-size: medium;
    }
}

@media (min-width: 1280px) {
    .evento {
        font-size: medium;
    }

    .orario-corrente {
        font-size: 90px;
    }
}
