/* app/about/about.css */
.container {
    padding: 20px;
    color: white; /* Adatta il colore al tuo design */
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  a {
    color: #2bdcd2; /* Colore dei link */
    text-decoration: underline;
  }
  
  a:hover {
    color: #016968;
  }
  