@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
    font-family: 'Asimov', Arial, sans-serif;
}

nav {
    border-bottom: 1px solid #fff; /* Riga bianca che separa il menu dal resto del sito */
}

.logo-menu {
    width: 50px; /* Modifica la dimensione del logo */
}

button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

@media (min-width: 1024px) {
    .logo-menu {
        width: 70px; /* Dimensione del logo su schermi grandi */
    }

    ul {
        display: flex !important;
    }

    button {
        display: none;
    }
}

@media (max-width: 1023px) {
    ul {
        display: none;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color: #fff;
    font-family: 'Asimov', Arial, sans-serif;
}

nav {
    border-bottom: 1px solid #fff; /* Riga bianca che separa il menu dal resto del sito */
}

.logo-menu {
    width: 50px; /* Modifica la dimensione del logo */
}

button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

@media (min-width: 1024px) {
    .logo-menu {
        width: 70px; /* Dimensione del logo su schermi grandi */
    }

    ul {
        display: flex !important;
    }

    button {
        display: none;
    }
}
