@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :not(pre) > code {
        @apply px-1 py-0.5 font-mono rounded bg-neutral-900 text-yellow-200;
        font-size: 0.9em;
    }

    h1 {
        @apply mb-6 text-4xl font-bold tracking-tight md:text-5xl;
    }
}

html {
  background-color: #000000;
}

.evento {
    display: flex;
    align-items: center;
    color: white;
    font-size: x-large;
}

.immagine {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
    transition: 1s;
    filter: hue-rotate(0deg);
}

.immagine:hover {
    filter: hue-rotate(180deg);
}

.riga-bianca {
    border-top: 1px solid white;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
}

.tag {
    display: contents;
    text-align: center;
    background-color: black;
    padding: 5px;
    color: white;
    margin-right: 10px;
}

.tag:hover {
    background-color: white;
    color: black;
}

.testo-info {
    font-size: xxx-large;
    margin: 0;
    padding: 0;
    color: white;
}

.orario-corrente {
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    animation: blink 1s linear infinite;
    color: red;
    font-size: 90px;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
